{% extends "bootstrap/base.html" %}
{% block title %}Nanobot Analyzer{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='punter.css')}}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Nanobot Analyzer</h1>
  </div>
  <div class="row">
    <form class="form-inline" action="/">
      <select name="target">
        {% for i in inputs %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="submit" />
    </form>
    {% if results %}
    <h3>R={{ r }}, target={{ target }}</h3>
    <canvas id="energy_chart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
var canvas = document.getElementById("energy_chart");
var chart = new Chart(canvas, {
  type: 'line',
  data: {
    labels: [{% for t in results['time'] %} {{ t }}, {% endfor %}],
    datasets: [
      {% for i in range(num) %}
      {
        label: '{{ i+1 }}',
        backgroundColor: 'rgba({{255 * (20-i) / 20}}, 100, 100, 0.8)',
        borderColor: 'rgba({{255 * (20-i) / 20}}, 100, 100, 1.0)',
        borderWidth: 1,
        data: [{% for v in results[i+1] %} {{ v }}, {% endfor %}]
      },
      {% endfor %}
      {
        label: 'env',
        backgroundColor: 'rgba(100, 100, 255, 0.8)',
        borderColor: 'rgba(100, 100, 255, 1.0)',
        borderWidth: 1,
        data: [{% for v in results[0] %} {{ v }}, {% endfor %}]
      },
      ],
    },
    options: {
      scales: {
        xAxes: [{
          stacked: true,
          categoryPercentage: 0.4
        }],
        yAxes: [{
          stacked: true,
        }]
      },
      legend: {
        labels: {
          boxWidth: 30,
          padding: 20
        },
        display: true
      },
    }
});
    </script>
    <canvas id="action_chart"></canvas>
    <script>
var canvas = document.getElementById("action_chart");
var chart = new Chart(canvas, {
  type: 'bar',
  data: {
  labels: [{% for i in range(num) %} {{ i+1 }}, {% endfor %}],
  datasets: [
      {
        label: 'active',
        backgroundColor: 'rgba(255, 100, 100, 0.8)',
        borderColor: 'rgba(255, 100, 100, 1.0)',
        borderWidth: 1,
        data: [{% for v in dist['active'] %} {{ v }}, {% endfor %}]
      },
      {
        label: 'smove',
        backgroundColor: 'rgba(100, 255, 100, 0.8)',
        borderColor: 'rgba(100, 255, 100, 1.0)',
        borderWidth: 1,
        data: [{% for v in dist['smove'] %} {{ v }}, {% endfor %}]
      },
      {
        label: 'lmove',
        backgroundColor: 'rgba(100, 175, 175, 0.8)',
        borderColor: 'rgba(100, 175, 175, 1.0)',
        borderWidth: 1,
        data: [{% for v in dist['lmove'] %} {{ v }}, {% endfor %}]
      },
      {
        label: 'fusion',
        backgroundColor: 'rgba(100, 100, 225, 0.8)',
        borderColor: 'rgba(100, 100, 225, 1.0)',
        borderWidth: 1,
        data: [{% for v in dist['fusion'] %} {{ v }}, {% endfor %}]
      },
      {
        label: 'fission',
        backgroundColor: 'rgba(175, 175, 100, 0.8)',
        borderColor: 'rgba(175, 175, 100, 1.0)',
        borderWidth: 1,
        data: [{% for v in dist['fission'] %} {{ v }}, {% endfor %}]
      },
      {
        label: 'fill',
        backgroundColor: 'rgba(175, 100, 175, 0.8)',
        borderColor: 'rgba(175, 100, 175, 1.0)',
        borderWidth: 1,
        data: [{% for v in dist['fill'] %} {{ v }}, {% endfor %}]
      },
      {
        label: 'void',
        backgroundColor: 'rgba(100, 225, 175, 0.8)',
        borderColor: 'rgba(100, 225, 175, 1.0)',
        borderWidth: 1,
        data: [{% for v in dist['void'] %} {{ v }}, {% endfor %}]
      },
      {
        label: 'gfill',
        backgroundColor: 'rgba(175, 40, 175, 0.8)',
        borderColor: 'rgba(175, 40, 175, 1.0)',
        borderWidth: 1,
        data: [{% for v in dist['gfill'] %} {{ v }}, {% endfor %}]
      },
      {
        label: 'gvoid',
        backgroundColor: 'rgba(40, 225, 175, 0.8)',
        borderColor: 'rgba(40, 225, 175, 1.0)',
        borderWidth: 1,
        data: [{% for v in dist['gvoid'] %} {{ v }}, {% endfor %}]
      },
      ],
    },
    options: {
      scales: {
        xAxes: [{
          stacked: true,
          categoryPercentage: 0.4
        }],
        yAxes: [{
          stacked: true,
        }]
      },
      legend: {
        labels: {
          boxWidth: 30,
          padding: 20
        },
        display: true
      },
    }
});
    </script>
    {% endif %}
  </div>
</div>
{%- endblock %}
