{% extends "bootstrap/base.html" %}
{% block title %}Nanobot Score Board{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='punter.css')}}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Nanobot Score Board</h1>
  </div>
  <div class="row">
    <form class="form-inline" action="/score_board">
      <div class="form-group">
        <label>problem_id</label>
        <select name="problem_id">
          <option value=""></option>
          {% for i in problem_ids %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>name</label>
        <select name="name">
          <option value=""></option>
          {% for i in names %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>submit_time</label>
        <select name="submit_time">
          <option value=""></option>
          {% for i in submit_times %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <input type="submit" value="submit" />
    </form>
    <h3>problem_id={{ target_id }}, name={{ target_name }}, submit_time={{ target_time }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>name</th>
          <th>submit_time</th>
          <th>problem_id</th>
          <th>R</th>
          <th>top_team</th>
          <th>top_energy</th>
          <th>energy</th>
          <th>top_score</th>
          <th>score</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{ result.name }}</td>
          <td>{{ result.submit_time }}</td>
          <td>{{ result.problem_id }}</td>
          <td>{{ result.R }}</td>
          <td>{{ result.top_team }}</td>
          <td>{{ result.top_energy }}</td>
          <td>{{ result.energy }}</td>
          <td>{{ result.top_score }}</td>
          <td>{{ result.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if stats['key'] %}
    <canvas id="stats"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
var canvas = document.getElementById("stats");
var chart = new Chart(canvas, {
  type: 'bar',
  data: {
    labels: [{% for k in stats['key'] %} "{{ k }}", {% endfor %}],
    datasets: [
      {
        backgroundColor: 'rgba(100, 100, 255, 0.8)',
        borderColor: 'rgba(100, 100, 255, 1.0)',
        borderWidth: 1,
        data: [{% for v in stats['energy'] %} {{ v }}, {% endfor %}]
      },
      ],
    },
    options: {
      legend: {
        display: false
      },
    }
});
    </script>
    {% endif %}
  </div>
</div>
{%- endblock %}
