{% extends "bootstrap/base.html" %}
{% block title %}Nanobot Score Board{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='punter.css')}}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Nanobot Score Board Total</h1>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>rank</th>
          <th>name</th>
          <th>energy</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr class="{{ result.class }}">
          <td>{{ result.rank }}</td>
          <td>{{ result.team }}</td>
          <td>{{ result.total_energy }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{%- endblock %}
